<div class="issues-search-summary">
  <strong>{{formatMeasure state.total 'INT'}}</strong> results
  <span class="issues-search-summary-separator">|</span>
  ordered <strong>by date</strong>
  <span class="issues-search-summary-separator">|</span>
  grouped <strong>by file</strong>
</div>

{{log state}}

<div class="js-list"></div>

<div class="search-navigator-workspace-list-more">
  <span class="js-more"><i class="spinner"></i></span>
</div>
