.issues-header {
  padding: 5px 10px 15px;
  background-color: #f3f3f3;
}

.issues-header:empty {
  display: none;
}

.issues-header .page-title {
  margin-bottom: 10px;
}

.issues-search-summary {
  margin: -10px -5px 20px;
  padding: 9px 10px;
  border-bottom: 1px solid #e6e6e6;
  background: #e6f6ff;
}

.issues-search-summary-separator {
  padding-left: 5px;
  padding-right: 5px;
  opacity: 0.20;
}
